body {
  background: #FDF3E7;
}

.panels-flexible-1 {
  clear: both;
}

.panels-flexible-region-1-center-inside > .pane-title {
  display: none;
}

.panels-flexible-region-1-center
{
  width: 100%;
}


.page-login .inside
{
  padding: 10px;
}

.page-login .user-registration .description,
.page-login .user-login .description
{
  display: none;
}


.page-login .user-registration,
.page-login .user-login
{
  width: 45%;
  float: left;
}

.page-login .user-registration
{
  background: #7E8F7C;
  border: #aaa;
  padding: 10px;
}

.page-login .user-registration .form-required
{
  color: #fff;
}

.page-login .user-registration fieldset
{
  padding: 0;
  border: 0;
}

.page-login .user-registration fieldset legend
{
  display: none;
}

.page-login .user-login
{
  margin-left: 3%;
}

.page-login .user-registration .field-name-field-gender,
.page-login .user-registration .field-name-field-looking-for
{
  width: 45%;
  float: left;
}

.page-user ul.tabs {
  display: none;
}



#user-relationships-ui-request.confirmation
{
  clear: both;
}










.pane-greeting-panel-pane-1,
.pane-system-main-menu
{
  float: left;
  clear: none;
  background-color: #7E8F7C;
  width: 49%;
}


.pane-system-main-menu ul.menu
{
  padding: 0;
  margin: 8px 11px;
}

.pane-system-main-menu
{
  float: right;
  overflow: hidden;
  height: 44px;
  width: 51%;
  z-index:101;
}

.pane-system-main-menu ul
{
  clear: both;
  overflow: hidden;
}

.pane-system-main-menu ul li,
.pane-menu-menu-user-links ul li
{
  float: left;
  margin-right: 20px;
  list-style: none;
}

.pane-system-main-menu ul.menu li a,
.pane-menu-menu-user-links ul li a
{
  color: #fff;
  text-decoration: none;
}



.pane-menu-menu-user-links
{
  float: right;
}

.pane-menu-menu-user-links ul
{
  margin: -33px 0 0 0;
}

.pane-menu-menu-user-links ul li a
{
  color: #fff;
}














.view
{
  padding: 10px;
}



.page-messages ul.tabs,
.page-messages .action-links
{
  display: none;
}

.privatemsg-message, form#privatemsg-new
{
  padding: 10px;
  margin: 10px;

}

.privatemsg-message .privatemsg-author-name,
.privatemsg-message .privatemsg-author-name a,
.privatemsg-message .privatemsg-message-date
{
  color: #fff;
}

.privatemsg-message-participants {
  clear: both;
}

.privatemsg-message {
  background: #de7a22;
  margin-left: 27%;
  margin-right: 8px;
  width: 74%;
  -ms-transform: rotate(3deg); /* IE 9 */
  -webkit-transform: rotate(3deg); /* Chrome, Safari, Opera */
  transform: rotate(3deg);
}

form#privatemsg-new
{
  background: #7E8F7C;
}

form#privatemsg-new .privatemsg-reply
{
  color: #fff;
  margin: 0;
}

form#privatemsg-new label
{
  color: #fff;
}

form#privatemsg-new .form-actions {
  margin-top: 8px;
}

form#privatemsg-new .form-actions #edit-cancel {
  display: none;
}





.privatemsg-message.logged-in-user {
  background: #7E8F7C;
  margin: -19px 0 29px -20px;
}

.privatemsg-message-actions {
  display: none;
}


.view-greeting
{
  background-color: #7E8F7C;
  color: #fff;
  background-image: url(../img/wink.png);
  background-repeat: no-repeat;
  background-size: 6%;
  background-position: 6px 7px;
  padding-left: 51px;
}







.pane-users-panel-pane-3 {
  margin-top:20px;
}

.pane-users-panel-pane-4 .pane-title,
.pane-users-panel-pane-3 .pane-title,
.pane-users-panel-pane-2 .pane-title,
.pane-not-related-users .pane-title
{
  background: #7E8F7C;
  font-weight: normal;
  color: #fff;
  font-size: 1em;
  padding: 0 5px;
  margin: 0;
}

.view-users {
  overflow: hidden;
}

.view-users .views-row {
  float: left;
  margin: 0 20px 20px 0;
  width: 18%;
}

.view-users.view-display-id-panel_pane_1 {
}

.view-users.view-display-id-panel_pane_2 {
}

.view-users.view-display-id-panel_pane_3 {
}

.view-users.view-display-id-panel_pane_4 {
}

.view-user-basic-data {
  background: #ccc;
  overflow: hidden;
}

.view-user-basic-data .views-field {
  float: left;
  width: 69%;
}

.view-user-basic-data .views-field-field-pictures
{
  width: 18%;
}

.view-users .views-field-name {
  background: rgba(255, 255, 255, 0.85);
  padding: 6px 10px;
  width: 200px;
  position: absolute;
}


.view-users .views-field-name a {
  text-decoration: none;
}










.view-user-posts {
  margin-left: 100px;
}

.view-user-posts .views-row {
  background: #7E8F7C;
  padding: 20px;
  width: 70%;
  margin-bottom: 15px;
}

.view-user-posts .views-field-nid {
  display: none;
}

.view-user-posts .views-row .view-comment .views-row {
  padding: 0;
  border-bottom: 1px solid #fff;
}

.view-user-posts .views-field-field-pictures,
.view-user-posts .views-field-ur-action
{
  position: absolute;
  margin-left: -100px;
  margin-top: -43px;
}

.view-user-posts .views-field-name a
{
  color: #fff;
}

.view-user-posts .views-field-ops a,
.views-field-userlike a,
.views-field-userlike
{
  color: #fff;
  text-decoration: none;
}


.view-user-posts .views-row .comment-wrapper {
  margin: 0;
  padding: 0;
}

.view-user-posts .views-row .comment-wrapper h2
{
  font-size:1em;
  line-height: 1em;
}














.view-user-posts #comments
{
  padding: 6px;
  border: 1px solid #fff;
}

.view-user-posts #comments h2,
.view-user-posts #comments p
{
  margin: 0;
}

.view-user-posts #comments .field-name-comment-body {
  background: #fff;
  padding: 8px;
}

.view-user-posts #comments form .field-name-comment-body {
  background: none;
}

.view-user-posts #comments header {
  font-size: 0.8em;
}

.view-user-posts #comments a.username {
  color: #fff;
}

.view-user-posts #comments .comment__form-title,
.view-user-posts #comments .comment-form label
{
  display: none;
}


.view-user-posts #comments .comment-form
{
  padding-top: 20px;
}

.view-user-posts #comments .comment-form .form-item
{
  margin: 0;
}

.view-user-posts #comments .comment-form .form-item-subject
{
  display: none;
}















.views-field-userlike
{
  font-size: 0.8em;
}

.view-user-posts .views-field-ur-action .rs-link
{
  width: 24px;
  height: 24px;
  background-size: 100%;
  display: block;
  margin-top: 65px;
}

.view-user-posts .views-field-ur-action .rs-link a
{
  text-indent: -9999px;
  display: block;
}

.view-user-posts .views-field-ur-action .rs-start
{
  background-image: url(../img/add_blue.png);
}

.view-user-posts .views-field-ur-action .rs-came
{
  background-image: url(../img/back.png);
}

.view-user-posts .views-field-ur-action .rs-sent a
{
  background-image: url(../img/delete.png);
  display: block;
  width: 24px;
  height: 24px;
  background-size: 100%;
}

.view-user-posts .views-field-ur-action .rs-partner a
{
  background-image: url(../img/delete.png);
  display: block;
  width: 24px;
  height: 24px;
  background-size: 100%;
}

.view-user-posts .views-field-field-post-image {
  text-align: center;
  overflow: hidden;
}

.view-user-posts .views-field-field-post-image ul,
.view-user-posts .views-field-field-post-image ul li
{
  margin: 0;
  padding: 0;
}

.view-user-posts .views-field-field-post-image ul li {
  width: 10%;
  float: left;
  list-style-type: none;
}

.view-user-posts .views-field-field-post-image ul li:nth-child(1) {
  width: 100%;
}

.view-user-posts .views-field-body,
.view-user-posts .views-field-field-url
{
  background: #fff;
  padding: 10px;
  margin: 10px;
  margin-bottom: 15px;
}

.view-user-posts .views-field-body p {
  margin: 0.5em 0;
}


.contextual-links-region {
}

/*
*/

.page-feed .pane-formblock-post {
  margin: 0 30px;
  width: 96%;
  overflow: hidden;
}

.page-feed .pane-formblock-post .field-name-body  .grippie
{
  display: none;
}

.page-feed .pane-formblock-post .field-name-body textarea {
}


.page-feed .pane-formblock-post .form-field-name-field-media label,
.page-feed .pane-formblock-post .form-field-name-field-post-image label,
.page-feed .pane-formblock-post .form-field-name-field-film label
{
  display: none;
}

.page-feed .pane-formblock-post .form-actions
{
  clear: both;
}

.page-feed .pane-formblock-post .form-field-type-url fieldset
{
  padding: 0;
  border: none;
}

.page-feed .pane-formblock-post .form-field-type-url .fieldset-legend
{
  display: none;
}

.page-feed .pane-formblock-post .form-field-type-url .form-type-textfield
{
  margin: 0;
}

.browse
{
  -webkit-appearance: none;
  -moz-box-shadow:inset 0px 1px 0px 0px #cf866c;
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d0451b), color-stop(1, #bc3315));
  background:-moz-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-webkit-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-o-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:-ms-linear-gradient(top, #d0451b 5%, #bc3315 100%);
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}

.browse:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc3315), color-stop(1, #d0451b));
  background:-moz-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-webkit-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-o-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:-ms-linear-gradient(top, #bc3315 5%, #d0451b 100%);
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
  color:#ffffff;

}

.browse:active {
  position:relative;
  top:1px;
}

.vertical-tabs {
  clear: both;
}




.decide-wrapper {
  background-color: #7E8F7C;
  padding: 20px;
  overflow: hidden;
  width: 661px;
  margin: 0 auto;
}

.decide-option {
  float :left;
  cursor: pointer;
}

.decide-option:nth-child(1) {
  margin-right: 20px;
}


